.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  padding-left: 60px;
}

.header .socials .socials__item .socials__link {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }

  @include desktop {
    margin-right: 20px;
  }
}

nav.menu {
  @include tablets {
    display: none;
  }
}
