.socials {
  display: flex;
}

.socials__icon {
  width: 25px;
  height: 25px;
}

.socials__icont {
  width: 25px;
  height: 25px;
  fill: $text-color;
}

.socials__link {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}
