.socials {
  display: flex;
}

.socials__icon {
  width: 25px;
  height: 25px;
}

.socials__icon {
  width: 25px;
  height: 25px;
  fill: $text-color;

  &:hover {
    fill: #8c4fe1;
  }
}

.socials__link {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }

  &--footer {
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
