.headline-component {
  background-image: linear-gradient(to top, #3e3e59, #454573);
  color: #ffffff80;
}

.buttons {
  margin-left: auto;
}

.header-container {
  display: flex;
  padding: 16px 0;
  align-items: center;
}

.btn {
  color: #ffffffb3;
  text-decoration: underline;
}

.title {
  margin-left: 30px;
}
