.skill-component {
  display: flex;
}

.percent {
  margin-left: auto;
  margin-right: 25px;
}

.buttons {
  display: flex;
  width: 50px;
  align-items: center;
  justify-content: space-between;
}

.buttons button {
  margin-top: 0;
}

.navigation-component .container {
  height: 85px;
}

.title {
  width: 100%;
  margin-right: 15px;
}

.percent {
  width: 90px;
}

.input {
  width: 80%;
}
